<center><a href="https://www.CoinMama.com/?ref=siastone" target="_blank"><img src="/public/assets/coinmama.jpg" alt="CoinMama: Buy Bitcoins with Credit Card"/></a></center>
<center><a href="https://torguard.net/aff.php?aff=3201" target="_blank"><img src="/public/assets/vpn.gif" alt="TorGuard VPN"/></a></center>
<center><a href="https://bitcasino.io?ref=RWYwvDLh33qKLG9rp" target="_blank"><img src="/public/assets/cas.gif" alt="Bitcasino.io"/></a></center>
