<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #28C29B;
}
li {
    /*float: center;*/
    display: inline;
    text-align: center;
}
li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #ddd;
}
li a.active {
    color: grey;
    background-color: #28C29B;
}
</style>

<nav>
  <ul>
    <li><a href="/">Settings</a></li>
    <li><a href="SiaRenterFiles">My Files</a></li>
    <li><a href="SiaExploreShare">Share Sia Files</a></li>
    <li><a href="SiaExplore">Sia Explore</a></li>
    <li><a href="SiaFileTransactions">Premium File History</a></li>
    <li><a href="SiaAboutHelp">About</a></li>
  </ul>
</nav>
